@import '~antd/dist/antd.css';
@import '../../style/variables.scss';

.profile{
    .profile-content{
        text-align: center;
        padding: 20px 20px;

        .profile-content__label{
            color:$cgreen2;
            font-size:1.8rem;
            display: block;
        }

        .profile-content__form{
            margin-top:30px;
            width:100%;
        }

        .profile-content__delete{
            background-color: $cred1;
            border-color: $cred2;
            margin-left:10px;
        }
    }

    .ant-btn-primary{
        background-color: $cgreen1;
        border-color:$cgreen2;
    }
    
}