@import '~antd/dist/antd.css';
@import '~leaflet/dist/leaflet.css';
@import '../../style/variables.scss';

.place{
    a{
        color:$cgreen2;
    }

    .leaflet-container {
        height: 1000px;
    }
    
    .place-actions{
        padding: 10px 10px;
        text-align: center;

        .ant-btn-primary{
            background-color: $cgreen1;
            border-color:$cgreen2;
        }
    }

    .place-table{
        .ant-table-thead th{
            background-color: $cdark;
            color:$clight;
        }
    
        padding: 10px 10px;
        height: 500px;
        overflow: auto;
        a{
            color:$cgreen2;
        }

    }
}

.ant-modal-content{
    background-color: $cgrey;
    a{
        color:$cgreen2;
    }

    .ant-modal-header{
        background-color: $cdark;

        .ant-modal-title{
            color:$clight;
        } 
    }

    .ant-table-thead th{
        background-color: $clight;
        color:$cdark;
    }

    .ant-btn-primary{
        margin-top:10px;
        background-color: $cgreen1;
        border-color:$cgreen2;
    }
}