@import '~antd/dist/antd.css';
@import '~leaflet/dist/leaflet.css';
@import '../../style/variables.scss';

.recomended{
    .ant-btn-primary{
        background-color: $cgreen1;
        border-color:$cgreen2;
    }

    .recomended-content{
        padding: 20px 20px;

        .recomended-table{
            .ant-table-thead th{
                background-color: $cdark;
                color:$clight;
            }

            a{
                color:$cgreen2;
            }
    
        }
    }
}

.ant-modal-content{
    background-color: $cgrey;

    .leaflet-container {
        height: 400px;
    }

    .ant-modal-header{
        background-color: $cdark;

        .ant-modal-title{
            color:$clight;
        } 
    }

}