@import '~antd/dist/antd.css';
@import '../../style/variables.scss';

.login{
    .login-login{
        width:100%;
        margin-top: 200px;
        padding: 50px 50px;
        display: block;
        text-align:center;

        .login-login__label{
            color:$cgreen2;
            font-size:1.8rem;
        }

        .ant-form{
            width:60%;
            margin-left:20%;
        }
        
    }

    .login-register{
        width:100%;
        margin-top: 200px;
        padding: 50px 50px;
        border-right:2px solid $cdark;
        text-align:center;
        font-size:1.6rem;

        a{
            color:$cgreen2;   
        }

        .login-register__label{
            color:$cgreen2;
            font-size:1.8rem;
        }
    }

    .ant-btn-primary{
        background-color: $cgreen1;
        border-color:$cgreen2;
    }
}

.ant-checkbox-checked .ant-checkbox-inner{
    background-color: $cgreen2;
    border-color: $cgreen1;
}

.login-modal{
    h1{
        color:$cgreen2;
    }
}