@import '~antd/dist/antd.css';
@import '../../style/variables.scss';

body{
    background-color:$clight;
    color:#FFF;
}

.header-bar{
    width:100%;
    background-color:$cdark;

    .header-bar__logo{
        background:$logo;
        background-position: center; 
        height: 100px;
        width:200px;
        display: inline-block;
    }

    .header-bar__menu{
        display:flex;
        justify-content:flex-end;
        margin:30px 30px;

        .ant-menu-horizontal{
            width:100%;
            background-color:$cdark;
            border:none;
            font-size:1.4rem;
        }
        
        .anticon{
            font-size:1.4rem; 
        }

        .ant-menu-item{
            color:$cwhite;


            ul{
                color:$cgreen1;
                background-color: $cdark;  
            }

            li{
                color:$cgreen1;
                background-color: $cdark;   
            }

            &:hover{
                color:$cgreen2;
                border-color:$cgreen2;
            }
        } 
        
        .ant-menu-item-selected{
            color:$cgreen1;
            border-color:$cgreen1;
        }

        .ant-menu-submenu-title{
            color:$cgreen1;
            border-color:$cgreen1;

            &:hover{
                color:$cgreen2;
                border-color:$cgreen2;
            }
        }
        .ant-menu-submenu-active{
            color:$cgreen2;
            border-color:$cgreen2; 
        }

        .ant-menu-submenu ul li{
            color:$cgreen1;
            background-color: $cdark;  
        }

        .ant-menu-submenu,.ant-menu-submenu-horizontal, .ant-menu-overflowed-submenu{
            color:$cgreen1;
            background-color: $cdark;  

            &:hover{
                color:$cgreen2;
                border-color:$cgreen2;
            }
        }
        
    }

    .header-bar__logout{
        display: flex;
        justify-content:flex-end;
        color:$cgreen1;
        font-size:2.4rem;
        margin:30px 30px;
        

        &:hover{
            color:$cgreen2; 
            cursor: pointer;
        }
    }

    .disabled{
        display: none;
    }

}